torch>=2.2.0
torchvision>=0.17.0
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
accelerate==0.21.0
peft
bitsandbytes
numpy
redis
Pillow>=10.2
requests
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
